@page "/addVehicle"

@inject IVehicleService vehicleService
@inject NavigationManager navigationManager

<h3>Add Vehicle</h3>

<div class="card col-2">
    <div class=" card-body">
        <EditForm Model="vehicle" OnValidSubmit="CreateVehicleAsync">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="BrandName" class="control-label">Brand Name</label>
                <InputText id="BrandName" class="form-control" @bind-Value="vehicle.BrandName"/>
                <ValidationMessage For="@(() => vehicle.BrandName)"/>
            </div>
            <div class="form-group">
                <label for="VinNumber" class="control-label">Vin Number</label>
                <InputText id="VinNumber" class="form-control" @bind-Value="vehicle.VinNumber"/>
                <ValidationMessage For="@(() => vehicle.VinNumber)"/>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Save</button>
        </EditForm>
    </div>
</div>

@code {
    protected Vehicle vehicle = new();

    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    protected async Task CreateVehicleAsync()
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            // Find better way of adding user ID to request???
            vehicle.UserId = Convert.ToInt32(authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value);

            await vehicleService.AddVehicleAsync(vehicle);
        }

        navigationManager.NavigateTo("/vehicles");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/vehicles");
    }
}
