@page "/register"

@inject IRegisterService registerService
@inject NavigationManager navigationManager

<h2 class="white-text"><b>Create an account</b></h2>
<hr class="white-horizontal-line">

<div class="col-x1-6 col-md-8 col-12">
    <input type="text" @bind="user.Username" placeholder="username" class="form-control dark-theme-textbox" autocomplete="new-username"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="text" @bind="user.FirstName" placeholder="first name" class="form-control dark-theme-textbox" autocomplete="new-firstname"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="text" @bind="user.LastName" placeholder="last name" class="form-control dark-theme-textbox" autocomplete="new-lastname"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="email" @bind="user.EmailAddress" placeholder="email address" class="form-control dark-theme-textbox" autocomplete="new-emailaddress"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="date" @bind="user.DateOfBirth" placeholder="date of birth" class="form-control dark-theme-textbox" autocomplete="new-dateofbirth"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="password" @bind="user.Password" placeholder="password" class="form-control dark-theme-textbox" autocomplete="new-password"/>
</div>
<div class="col-x1-6 col-md-8 col-12">
    <input type="password" @bind="user.ConfirmPassword" placeholder="confirm password" class="form-control dark-theme-textbox"/>
</div>
<br />
<div class="col-x1-6 col-md-8 col-12">
    <button class="btn btn-danger" @onclick="RegisterUser">Register</button>
    &nbsp;
    <a style="font-weight: bold;" href="/login">Already have an account?</a>
</div>

@code {
    User user = new User();

    public async Task RegisterUser()
    {
        await registerService.RegisterUserAsync(user);
        navigationManager.NavigateTo("/vehicles");
    }
}
