@page "/verifyAuth"

<h3>VerifyAuth</h3>

@if (isAuthenticated)
{
    <h4>@username is authenticated</h4>
    <ul>
        <li>Access to admin role: @isAdminUser</li>
        <li>Access to user role: @isUser</li>
    </ul>
}
else
{
    <h4>user is not authenticated</h4>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private bool isAuthenticated = false;
    private string username;
    private bool isAdminUser = false;
    private bool isUser = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;

            username = authState.User.FindFirst(ClaimTypes.Name).Value;

            isAdminUser = authState.User.IsInRole("Admin");
            isUser = authState.User.IsInRole("User");
        }
    }
}
