
@if (Show is true)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OnCancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="OnCancel">Cancel</button>

                    @if (DeleteVehicleConfirmation is true)
                    {
                        <button type="button" class="btn btn-danger" @onclick="DeleteVehicle">Delete</button>
                    }
                    else if (DeleteRepairConfirmation is true)
                    {
                        <button type="button" class="btn btn-danger" @onclick="DeleteRepair">Delete</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" @onclick="OnDelete">Delete</button>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public bool DeleteRepairConfirmation { get; set; }
    [Parameter] public bool DeleteVehicleConfirmation { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback DeleteVehicle { get; set; }
    [Parameter] public EventCallback DeleteRepair { get; set; }
}