<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <NavLink class="nav-link" href="/logout">
            <span class="oi oi-account-logout"></span> Log Out
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>