@page "/vehicles"

@inject HttpClient httpClient
@inject IVehicleService vehicleService 
@inject NavigationManager navigationManager

<h1>Vehicles List</h1>
<hr />

@if(vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink class="nav-link" href="/addVehicle">
        <button type="button" class="btn btn-primary">Add Vehicle</button>
    </NavLink>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var vehicle in vehicles)
            {
                <tr>
                    <td>
                        <NavLink class="nav-link" @onclick="@(() => VehicleProfileAsync(vehicle.Id))">
                            @vehicle.BrandName
                        </NavLink>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary" type="button" value="vehicle"
                                        @onclick="@(() => UpdateVehicleAsync(vehicle.Id))">Update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" type="button" value="vehicle.Id" 
                                        @onclick="@(() => DeleteVehicleAsync(vehicle.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected IEnumerable<VehicleDto> vehicles;
    protected IEnumerable<RepairDto> repairs;

    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to the Homepage.
            navigationManager.NavigateTo("/", true);
        }

        vehicles = await vehicleService.GetAllVehiclesAsync();
    }

    protected async Task UpdateVehicleAsync(int id)
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to the Login page.
            navigationManager.NavigateTo("/login", true);
        }

        navigationManager.NavigateTo($"/updateVehicle/{id}", true);
    }

    protected async Task DeleteVehicleAsync(int id)
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to the Login page.
            navigationManager.NavigateTo("/login", true);
        }

        await vehicleService.DeleteVehicleAsync(id);
        navigationManager.NavigateTo("/vehicles", true);
    }

    protected async Task VehicleProfileAsync(int id)
    {
        AuthenticationState authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to the Login page.
            navigationManager.NavigateTo("/login", true);
        }

        navigationManager.NavigateTo($"/vehicleProfile/{id}", true);
    }
}
