@page "/passwordChange/{id}"

@inject IUserService userService
@inject NavigationManager navigationManager

<h1>Change Password</h1>
<hr />

<div class="card col-2">
    <div class="card-body">
        <EditForm Model="passwordChangeRequest" OnValidSubmit="(() => ChangePasswordAsync(passwordChangeRequest))">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <InputText id="NewPassword" type="password" class="form-control" @bind-Value="passwordChangeRequest.NewPassword" />
                <ValidationMessage For="@(() => passwordChangeRequest.NewPassword)" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <InputText id="ConfirmPassword" type="password" class="form-control" @bind-Value="passwordChangeRequest.ConfirmPassword" />
                <ValidationMessage For="@(() => passwordChangeRequest.ConfirmPassword)" />
            </div>

            <button type="submit" class="btn btn-success">Save changes</button>
        </EditForm>
    </div>
</div>

@code {
    // Stores User ID taken from URI.
    [Parameter]
    public string Id { get; set; }

    protected PasswordChangeRequestDto passwordChangeRequest = new();

    // Stores the User Authentication State data.
    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    protected async Task ChangePasswordAsync(PasswordChangeRequestDto passwordChangeRequest)
    {
        // Holds User ID converted to Integer.
        int userId = Convert.ToInt32(Id);

        // Gets the current user State.
        AuthenticationState authState = await AuthState;

        // If the current user state is not authenticated...
        if (authState.User.Identity.IsAuthenticated == false)
        {
            // Takes to homepage.
            navigationManager.NavigateTo("/login", true);
        }

        // Otherwise...
        // Updates user password.
        await userService.ChangePasswordAsync(passwordChangeRequest, userId);

        // Takes to User profile page.
        navigationManager.NavigateTo($"/userProfile/{userId}", true);
    }
}
